*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #3b5998;
}
hr{
  margin: 5px 0;
  border: 1px solid white;
}

/*Navbar*/
nav{
  position: fixed;
  top: 0;
  background-color: #8b9dc3;
  width: 100%;
  height: 50px;
}
nav > .navbarItem{
  float: left;
  margin-top: 13px;
  width: 33.33%;
  list-style: none;
}
nav a{
  color: white;
  text-decoration: none;
}

/*Posts*/
.post{
  margin: 20px auto;
  border-radius: 10px;
  background-color: #607bb3;
  padding: 15px;
  width: 60%;
  overflow: hidden;
  color: white;
}
.post:first-of-type{
  margin-top: 70px;
}

.post > .postMeta{
  float: right;
}
.postAuthor, .postDate, .postLikes{
  float: left;
  margin-left: 10px;
}
